/* feuille de style pour la page des Float  */
body {
    background-color: #f0decb;
}

.boite {
    /* une image en arrière-plan  */
    background: url(../img/siamois.jpg);
    /* l'image ne se répète pas  */
    background-repeat: no-repeat;
    width: 270px;
    height: 194px;
    border: 5px solid white;
/* effet flottant : permet de placer des balises côte à côte alors que selon le flux du web standard les élémments se placent les uns au dessus des autres  */
    float: left;
}

.clear {
    /* supprime l'effet flottant */
clear: both;
}
a:hover {
background-color: lightcoral;

}