/* feuille de style pour la page d'aide au mémoire sélécteurs */
body {
    font-size: 120%;
    background-color: azure;
}
h2 {
font-size: 50px ;
font-weight:bolder ;
letter-spacing: 1px;
text-transform: uppercase;

}
h2 {
    box-shadow: 10px 5px 5px #35477d;
}
.inline {
    display: inline;
}
h4 {
    color: #1d4d4f;
    text-shadow: 10px 5px 5px #35477d;
}