body {
    background-color: #bae8e8;
}

.c1, .c2, .c4, .c0, .c5 {
    width: 150px;
    height: 150px;
    margin: 1px;
    float: left;
    border: 1px solid #000000;
    text-align: center;
    color: #000000;    
}

.c1 {
    background-color: #0c9463;
    border-radius: 10%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 20%;


}

.c2{
    background-color: #51eaea;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
   
}

.c3 {
    background-color: #6decb9;
    width: 150px;
    height: 150px;
    margin: 1px;
    float: left;
    border: 1px solid #000000;
    border-radius: 75%  ;
    text-align: center;
    color: #000000; 
}

.c4{
    background-color: #ffbbb4;
    border-radius: 20%;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
}

.c5 {
    background-color: red;
}

.c0 {
    opacity: 0;
}


.clear {
    clear: both;
}