/* feuille de style pour cubitus.html  */

body {
    background-color: #fff1e9;
}
.cubitus {
    width: 150px;
    background-color: #35477d;
    width: 150px;
    height: 150px;
    border: 5px solid #f9f6f7;
}





