/* feuille de style pour cubitus.html  */

body {
    background-color: #fff1e9;
}

.c1, .c2 {
    width: 150px;
    height: 150px;
    margin: 1px;
    float: left;
    border: 1px solid #000000;
    border-radius: 30%  ;
    text-align: center;
    color: darkgray;
    
}

.c1 {
    background-color:  #35477d;;
}

.c2 {
    background-color: darkblue;
}

.clear {
    clear: both;
}

