/* feuille de style pour la page grille  */
* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.conteneur {
    width: 1200px;
    border: 1px solid #fff;
    margin: 0 auto;
    background-color: lightsteelblue;
    
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid orange; 
    

}

.rowReverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border: 2px solid green
}

.col1 {
    width: 8.333333%;
}

.col2 {
    width: 16.666666%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.333333%;
}

.col5 {
    width: 41.666666%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.333333%;
}

.col8 {
    width: 66.666666%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.333333%;
}

.col11 {
    width: 91.666666%;
}

.col12 {
    width: 100%;
}

.marge1 {
    margin-left: 8.333333%;
}

.marge2 {
    margin-left: 16.666666%;
}

.marge3 {
    margin-left: 25%;
}

.marge4 {
    margin-left: 33.333333%;
}

.marge5 {
    margin-left: 41.666666%;
}

.marge6 {
    margin-left: 50%;
}

.marge7 {
    margin-left: 58.333333%;
}

.marge8 {
    margin-left: 66.666666%;
}

.marge9 {
    margin-left: 75%;
}

.marge10 {
    margin-left: 83.333333%;
}

.marge11 {
    margin-left: 91.666666;
}

.marge12 {
    margin-left: 100%;
}

/* media queries, pour les écrans  */

/* media queries, mobile ex : iphones */
@media(max-width: 320px){
    body {
       background-color: #ffffff; 
    }

    .conteneur {
        width: 100%;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

    h1 {
        font-size: 120%;
        text-align: left;
        padding-left: 5px;
    }
    
}

/* media queries, petite tablette  */
@media(min-width: 321px) and (max-width : 767px){
    body {
        background-color: #B18B45;
    }
    .conteneur {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        border: none;
        background-color: #ffffff;
    }
}


/* media queries, petite tablette et ordinateurs portables, desktop  */
@media (min-width: 768px) and (max-width: 1096px){
    body {
        background-color: #2E20E7;
    }
    .conteneur {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
    }
}


/* media queries, ecran ordinateurs de bureau  */

@media (min-width: 1097px) {
    
    .conteneur {
        width: 90%;
        margin: 0 auto;
       
    }
}





/* couleur générique  */
.bleu {
    background-color: blue;
    min-height: 60px;
    color: #fff;
    padding: 5px;
}

.rouge {
    background-color: red;
    min-height: 60px;
}

.vert {
    background-color: green;
    min-height: 60px;
}

.jaune {
    background-color:goldenrod;
    min-height: 60px;
}

header, footer {
    text-align: center;
}



